---
import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths() {
  return [
    {
      params: {
        projects: "mern-commerce",
      },
      props: {
        name: "MERN Commerce",
        desc: "An e-commerce application built with the MERN stack.",
      },
    },
    {
      params: {
        projects: "showcase-next-sanity",
      },
      props: {
        name: "Next.js with Sanity.io",
        desc: "Next.js and Sanity.io's Headless CMS.",
      },
    },
  ];
}

const { projects } = Astro.params;
const { name, desc } = Astro.props;
---

<MainLayout>
  <section class="w-3/6 mx-auto">
    <h1 class="text-4xl font-bold text-center">{name}</h1>
    <img
      src=`/images/${projects}.png`
      width="800"
      height="800"
      alt={projects}
      class="rounded"
    />
    <h1>{name}</h1>
    <p>{desc}</p>
  </section>
</MainLayout>
